<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VenturaHR</display-name>
  <welcome-file-list>
    <welcome-file>cadastroEmpresa.html</welcome-file>
    <welcome-file>cadastroCandidato.html</welcome-file>
    <welcome-file>login.html</welcome-file>
    <welcome-file>confirmacao.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmpresaController</display-name>
    <servlet-name>EmpresaController</servlet-name>
    <servlet-class>ventura.model.controller.EmpresaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpresaController</servlet-name>
    <url-pattern>/EmpresaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidatoController</display-name>
    <servlet-name>CandidatoController</servlet-name>
    <servlet-class>ventura.model.controller.CandidatoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidatoController</servlet-name>
    <url-pattern>/CandidatoController</url-pattern>
  </servlet-mapping>
</web-app>